@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-mono-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ubuntu-mono-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ubuntu-mono-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ubuntu-mono-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ubuntu-mono-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ubuntu-mono-v17-latin-regular.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/ubuntu-mono-v17-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ubuntu-mono-v17-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ubuntu-mono-v17-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ubuntu-mono-v17-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ubuntu-mono-v17-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ubuntu-mono-v17-latin-italic.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ubuntu-mono-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ubuntu-mono-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ubuntu-mono-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ubuntu-mono-v17-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ubuntu-mono-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ubuntu-mono-v17-latin-700.svg#\1') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/ubuntu-mono-v17-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('../fonts/ubuntu-mono-v17-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ubuntu-mono-v17-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ubuntu-mono-v17-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ubuntu-mono-v17-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ubuntu-mono-v17-latin-700italic.svg#\1') format('svg'); /* Legacy iOS */
}
